<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
<header>
<div class="container">
    <div class="pclass">
        <a href="index.html">
        <img src="./photo-1589652717406-1c69efaf1ff8.jpg"></a>
    </div>
  
  <div class="headerlink">
      <a href="#">Log in</a>&nbsp;&nbsp; 
      <a href="#">Sign Up</a>
    </div>
    <br style="clear:both;"/>
</div>
<hr>
<div class="container">
    <div class="newlinks">
    <a href="index.html">Home</a> &nbsp;&nbsp; 
    <a href="Services.html">List of services</a> &nbsp;&nbsp; 
    <a href="bookappointment.html">Book a Appointment</a>&nbsp;&nbsp; 
    <a href="#">Message</a>
</div>
</div>
</header>

<section>
<div class="container">
    <article>
    <div class=form>
    <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name.." class="textclass">
    
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name.." class="textclass">

        <label for="lname">Pet type</label>
        <select id="pettype" name="pettype"  class="textclass">
            <option value="australia">Dog</option>
            <option value="canada">Cat</option>
            <option value="usa">Bird</option>
          </select>
          <label for="lname">Service type</label>
          <select id="Servicetype" name="Servicetype"  class="textclass">
              <option value="australia">Vaccination</option>
              <option value="canada">Annual Checkup</option>
              <option value="usa">Training</option>
              <option value="usa">PetSitting</option>
            </select>
    
            <label for="phonenum">Phone Number</label>
        <input type="number" id="phonenum" name="phonenum" placeholder="Your Phone number.." class="textclass">

        <a href="bookappointment.html" class="submitclass">Submit</a>
      </form>
    </div>
</article>
</div>
</section>

<footer>
    <div class="container">
      <div class="fclass">
            <p>&copy;Petsitter</p>
      </div>
    <div class="footerlink">
        <a href="#">About</a>&nbsp;&nbsp; 
        <a href="#">Contact</a>
      </div>
      <br style="clear:both;"/>
  </div>
  </footer>

</body>
</html>

