<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
<header>
<div class="container">
    <div class="pclass">
        <a href="index.html">
        <img src="./photo-1589652717406-1c69efaf1ff8.jpg"></a>
    </div>
  
  <div class="headerlink">
      <a href="#">Log in</a>&nbsp;&nbsp; 
      <a href="#">Sign Up</a>
    </div>
    <br style="clear:both;"/>
</div>
<hr>
<div class="container">
    <div class="newlinks">
    <a href="index.html">Home</a> &nbsp;&nbsp; 
    <a href="Services.html">List of services</a> &nbsp;&nbsp; 
    <a href="bookappointment.html">Book a Appointment</a>&nbsp;&nbsp; 
    <a href="#">Message</a>
</div>
</div>
</header>

<section>
<div class="container">
  <article>
        <div class="informationclass">
            <h1>pet Information
             <p>Pet Id :246.</p></h1>
    <p>Here you can get Pet's infromtion such as age,owner etc.</p>
            <ul>
                <li><a href="./Petinformation.html">Pet Id:246</a></li>
                <ul>
                <li style="list-style-type:none;">Name: Rover</li>
                <li style="list-style-type:none;">Pet Type: Dog</li>
                <li style="list-style-type:none;">Pet Age: 12 months</li>
                <li style="list-style-type:none;">Owner:Sam Cook</li>
                </ul>
              </ul>  
        </div>
      
      <div class="headerlink">
          <a href="#" class="buttonclass">Update</a>&nbsp;&nbsp; 
          <a href="#" class="buttonclass">Delete</a>
        </div>
        <br style="clear:both;"/>
  </article>
</div>
</section>

<footer>
    <div class="container">
      <div class="fclass">
            <p>&copy;Petsitter</p>
      </div>
    <div class="footerlink">
        <a href="#">About</a>&nbsp;&nbsp; 
        <a href="#">Contact</a>
      </div>
      <br style="clear:both;"/>
  </div>
  </footer>

</body>
</html>

