<%- include('./partials/header.ejs')%>
<div class="content">
    <h3>About Us</h3>
    <p>Here we served all kinds of pets with a different services.Like Vaccination ,annual check-up,training and you can also get pet care
        for your pet.<br>
        We Offer Professional and Private Pet Sitting for Cats, Dogs, and Small Animals. Book Now! Professional Pet Services. 
        Daily Dog Walking. Trusted Pet Care. <br>
        Reliable Pet Sitters.
    </p>
    <p>Log in our system and get access to all features without subscription</p>
</div>
<%- include('./partials/footer.ejs')%>
