<%- include('./partials/header.ejs')%>
<div class ="container">
    <article>
        <div class = "content">
            <h3><%= error.status%> Error</h3>
            <p><%= error.message%></p>
            </div>
</article>
</div>


<%- include('./partials/footer.ejs')%>
