<%- include('./partials/header.ejs')%>
<div class="content">
    <h3>Welcome to Petsitter System.</h3>
    <p>Here you can get all services for your pet sitting.You can book a appointments,give ratings to 
        provider.</p>
    <p>Message feature is also avaiable</p>
</div>
<%- include('./partials/footer.ejs')%>
